* {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-container-inline {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: row;
}

.inline-block {
    display: inline-block;
}

.flex-1 {
    flex: 1;
}

.flex-space-between {
    justify-content: space-between;
}

#dataset {
    height: 500px;
    min-width: 600px;
    align-items: flex-end;
}

.full-screen {
    width: 100vw;
    height: 100vh;
}

.controls-container {
    margin-top: 2rem;
}

.main-container {
    max-width: 300px;
}

.data-item {
    border: 2px solid maroon;
    margin-left: 5px;
    background-color: red;
    width: 25px;
}

.data-item:after {
    content: attr(data-value);
    position: relative;
    top: 100%;
    padding-top: 5px;
}

.progress-div {
    width: 300px;
    position: relative;
    border: 2px solid black;
    border-radius: 3px;
    padding: 0.1rem;
}

.progress-bar {
    background-color: lightblue;
    border: 0px solid transparent;
    border-radius: inherit;
    width: 0;
}

.progress-bar::after {
    content: "progress";
}

.compare {
    background-color: lightgreen;
}

.selection-min {
    background-color: brown;
}

.partition {
    background-color: #1d4970;
}

.quick-pivot {
    background-color: blue;
}